# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib

# Virtual environments
env/
venv/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and reports
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# AWS credential files
*.pem

# IDE settings
.idea/
.vscode/
*.iml

# Backup files
*~

# Other unneeded files
*.bak

# Ignore Lambda deployment packages
src/lambda_functions/lambda_functions.zip
infrastructure/code.zip

# Ignore microcontroller firmware cache and build artifacts
src/microcontroller_firmware/__pycache__/
src/microcontroller_firmware/*.pyc